


{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Prod de {{ categories.nom }}</h1>

        {% if Produit is empty %}
            <p>Aucun Prod trouve.</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>description</th>
                        <th>prix</th>
                        <th>categorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Produit in Produit %}
                        <tr>
                            <td>{{ Produit.nom }}</td>
                            <td>{{ Produit.description }}</td>
                            <td>{{ Produit.prix }}</td>
                            <td>
                                <table>
                                    <tr>
                                        <th>nom</th>
                                        <td>{{ Produit.categorie.nom }}</td>
                                    </tr>

                                </table>

       <td><a href="{{ path('app_produit_edit', {id: Produit.id}) }}">Modifier</a></td>
                           <td><a href="{{ path('app_produit_delete', {id: Produit.id}) }}">Supprimer</a></td>
                           <td><a href="{{ path('app_produit_new') }}">Add</a></td>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
